@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body {
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}
.wall {
	background-color: #4CAF50;
	/* Add more styles to make the walls more visible */
	border-radius: 50%; /* Rounded shape for walls */
	box-shadow: inset 0 0 10px rgba(0,0,0,0.5); /* Add shadow effect */
  }
  
#mazeContainer {
    opacity: 0;
    display: inline-block;
    margin: auto;
    border-radius: 10px;
}
#mazeContainer #mazeCanvas {
    margin: 0;
    display: block;
    border: solid 2px black;
    height: 400px;
}

input, select {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.30);
    height: 45px;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}
input:hover, select:hover {
    background-color: rgba(0, 0, 0, 0.70);
}
input:active, select:active {
    background-color: black;
}
input:focus, select:focus {
    outline: none;
}

@media only screen and (max-width: 400px) {
    input, select {
        width: 120px;
    }
}